
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bloc-time {
    margin: 0 20px;
}

.figure {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 50px;
    height: 80px;
    font-size: 28px;
    color: #333;
}

.top,
.bottom,
.top-back,
.bottom-back {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.top,
.top-back {
    top: 0;
}

.bottom,
.bottom-back {
    bottom: 0;
}

.top-back,
.bottom-back {
    color: #fff;
    text-shadow: none;
}

.count-label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.ct_bid_show_bidder {
    background-color: #0073aa;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.ct_bid_show_bidder:hover {
    background-color: #005177;
}

.ct_bidder_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}

.popup_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup_content {
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 650px;
    height: 70%;
    animation: fadeIn 0.3s ease-in-out;
    overflow-y: auto;
}

.popup_content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.bidders_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bidder_info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bidder_name {
    font-weight: bold;
}

.bidder_price {
    color: #0073aa;
}

.close_popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #0073aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}